<h3>To Do</h3>

<!-- Creating a new task -->
<form method="POST" action="/">
    <!-- This creates some protection against Cross Site Request Forgeries  -->
    {%csrf_token%}

    {{form.title}}
    <input type="submit" name="Create Task">
</form>

{% for task in tasks %}
    <div>
        <!-- Is going to go to update_task.html with the task id  -->
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
        <p>{{task}}</p>
    </div>
{% endfor %}